# A
Boric Acid
nicotine
butanol
camphor
dicyclopropyl ketone
terephthalic acid
phenethylamine 
vanillin 
# B
Urea
histamine
caffeine
acetominophen
resorcinol
dopamine
homoserine lactone (ahl)
hexachlorobenzene 
# C
histamine
butanol
resorcinol
terephthalic acid
hexachlorobenzene 
# D
Urea
nicotine
acetominophen
dicyclopropyl ketone
homoserine lactone (ahl)
vanillin
# E
Boric Acid
caffeine
camphor
dopamine
phenethylamine 
# F 
caffeine
dicyclopropyl ketone
hexachlorobenzene 
# G
Urea
butanol
dopamine
vanillin 
# H
Boric Acid
acetominophen
terephthalic acid
# I
histamine
camphor
homoserine lactone (ahl)
# J
nicotine
resorcinol
phenethylamine 
# K

